* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  font-family: "ProductSans";
  background-color: #F0F0F0;
}

a {
  text-decoration: none;
  color: inherit;
}

.flex {
  display: flex;
}

.fl-1 {
  flex: 1;
}

.fl-2 {
  flex: 2;
}

.fl-3 {
  flex: 3;
}

.mb-a {
  margin: 0 auto !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}
.mb-20 {
  margin-bottom: 20px !important;
}
.mb-10 {
  margin-bottom: 10px !important;
}
.blur-hide{
  display:none;
}
/* Header START */
#header {
  width: 100%;
  height: 100px;
  background: #fff;
  display: flex;
  align-items: center;
  padding: 0 7%;
  border-radius: 0 0 40px 40px;
  justify-content: space-between;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
  z-index: 999;
  position: relative;
}

#header .logo {
  height: 50%;
}

#header .logo img {
  height: 100%;
}

#header .navigation {
  display: flex;
  align-items: center;
  height: 100%;
  font-size: 18px;
}

#header .navigation div {
  color: #000;
  margin: 0 10px;
  font-weight: bold;
}

#header .userImg {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-left: 10px;
}

#header .userImg img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

#header .userData {
  display: flex;
  align-items: center;
  justify-content: center;
}

.xbutton {
  background: #3dbc3d;
  padding: 10px 40px;
  display: table;
  color: white;
  box-shadow: 0 7px 7px 0 #3dbc3d99 !important;
  border-radius: 30px !important;
  cursor: pointer;
  border:2px solid transparent !important;
  outline: none;
  font-weight: bold;
}

.xbutton-danger {
  background: #dc3545;
  padding: 10px 40px;
  display: table;
  color: white;
  box-shadow: 0 3px 3px 0 #cf000eb6 !important;
  border-radius: 30px !important;
  cursor: pointer;
  border:2px solid transparent !important;
  outline: none;
}

.remove-cart {
  font-size: 24px;
  transition: .3s all;
  cursor: pointer;
}

.remove-cart:hover {
  color: #cf000f;
}

.xbutton.secondary {
  border:2px solid #3dbc3d99;
  color:#3dbc3d99;
  background:transparent;
  box-shadow:none;
}
.xbutton.white {
  border:2px solid white!important;
  color:black!important;
  background:white!important;
  box-shadow: 0 7px 7px 0 #ffffff77 !important;
}
.xbutton.grey {
  background: #606060;
  box-shadow: 0 7px 7px 0 #606060 !important;
}

.xbutton.center {
  margin: 0 auto;
}
.xbutton.full {
  width:100%;
  text-align:center;
}

.def-container {
  padding: 0 5%;
}



/* Header END */
.signup-container {
  padding: 0 5%;
}

.signup-img {
  width: 100%;
  background-image: url(../jpg/1.jpg);
  filter: blur(2px);
  /* -webkit-filter: blur(2px); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 10px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
  border-radius: 25px;
  position: relative;
  z-index: 1;
}

#signup .signup-form , #edit-profile .edit-profile-form {
  margin: 0 auto;
  background-color: white;
  margin: 0 10px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
  border-radius: 25px;
  padding: 10px 15px;
}

#signup form ,#edit-profile form {
  width: 100%;
  height: 100%;
}

#signup form h1 ,#edit-profile form h1{
  text-align: center;
  margin: 10px 0;
}

#signup .signup-content , #edit-profile .edit-profile-content {
  position: absolute;
  left: 0;
  right: 45%;
  z-index: 9999;
  margin-left: 20px;
  margin-right: 20px;
  color: white;
  margin-top: 250px;
  font-size: 28px;
  text-align: center;
}

.mt-20x {
  margin-top: 20px !important;
}

.mt-30x {
  margin-top: 30px !important;
}

.mt-40x {
  margin-top: 40px !important;
}

.mt-100 {
  margin-top: 8% !important;
}
.ml-10x {
  margin-left: 10px !important;
}

.ta-c {
  text-align: center !important;
}

.ta-r {
  text-align: right !important;
}

#footer {
  margin-top: 30px;
  width: 100%;
  background: #3e3e3e;
  position: relative;
}

#footer .f {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 45px 7%;
}

#footer .logo {
  flex-grow: 1;
  flex-basis: 400px;
  min-width: 300px;
  margin-bottom: 30px;
}

#footer .logo img {
  width: 120px;
}

#footer .logo .content {
  margin-top: 20px;
  color: #bababa;
  max-width: 450px;
  text-align: justify;
}

#footer .links {
  flex-grow: 2;
  flex-basis: 300px;
  display: flex;
  width: 100%;
  flex-wrap: nowrap;
  justify-content: space-between;
}

#footer .links .col {
  width: 200px;
}

#footer .links .col li {
  margin-bottom: 25px;
  list-style-type: none;
  font-weight: bold;
}

#footer .links .col a {
  color: #dfdfdf;
}

#footer .links .col a:hover {
  color: #f4f4f4;
}

#footer .footer-end {
  background: #323232;
  padding: 45px 7%;
  color: #999;
  height: 120px;
}

#footer .footer-end .legal {
  float: right;
}

#footer .social {
  float: left;
  display: flex;
}

#footer .social a {
  margin-right: 15px;
}

.top {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #333;
  position: absolute;
  bottom: 140px;
  left: 7%;
  border-radius: 10px;
  opacity: 0.6;
  transition: opacity .2s;
}

.top:hover {
  opacity: 1;
}

.input {
  margin-top: 8px;
  padding-left: 45px;
  height: 50px;
  outline: none;
  font-size: 15px;
  color: black;
  width: 100%;
  box-sizing: border-box;
  display: block;
  background-color: #f8f8f8;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  font-family: "ProductSans";
}

.icon {
  font-size: 21px;
  color: #a0a0a0;
  position: absolute;
  left: 15px;
  z-index: 1;
  bottom: 15px;
}

label {
  position: relative;
  display: block;
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 15px;
  cursor: default;
  text-align: left;
}

.button-container {
  text-align: center;
  width: 100%;

}

.bButton {
  width: 90%;
  height: 50px;
  background: none;
  border: 3px solid rgba(1, 179, 1, 0.8);
  border-radius: 100px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 500ms;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
  color: rgba(1, 179, 1, 0.801);
  font-size: 20px;
  font-weight: bold;
  outline: none;
  margin: 0 auto;
}

.bButtonb {
  width: 200px;
  height: 50px;
  background-color: rgba(1, 179, 1, 0.801);
  border: 3px solid rgba(1, 179, 1, 0.801);
  border-radius: 100px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 500ms;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
  color: white;
  font-size: 20px;
  font-weight: bold;
  outline: none;
  margin: 0 auto;
}


.top-banner {
  width: 100%;
  height: 100vh;
  max-height: 800px;
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  margin-top: -35px;
  flex-direction: column;
  background-image: url('../jpg/pexels-mike-andrei-1271619.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  position: relative;
}

.top-banner .content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.top-banner .overlay {
  background: #000;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.top-banner .content>h1 {
  font-size: calc(2vw + 20px);
}

.top-banner .content>h2 {
  margin-top: 20px;
  font-size: calc(1vw + 15px);
  font-weight: normal
}

.top-banner .search-box {
  width: 90%;
  max-width: 800px;
  padding: 30px;
  background: #fff;
  color: black;
  display: flex;
  align-items: center;
  margin-top: 20px;
  border-radius: 20px;
}

.top-banner .search-box .item {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.top-banner .search-box h1 {
  font-size: 20px;
}

.top-banner .search-box p {
  color: #999;
}
.top-banner .search-box select,.top-banner .search-box input{
  width:80%;
  padding:5px;
  border:0;
  padding-left:0;
  transform:translateX(-3px);
}
.heading-line {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  margin-top: 50px;
  text-transform: uppercase;
}

.hikes-slide {
  width: 100%;
  height: 300px;
  position: relative;
  margin-top: 30px;
  overflow: hidden;
}

.hikes-slide .slider {
  display: flex;
  user-select: none;
  align-items: flex-start;
  min-width:100%;
  position: relative;
  transform:translate3d(0%, 0px, 0px);
  left:7%;
}

.hikes-slide .slider>.item {
  flex:1 0 300px;
  width: 300px;
  height: 300px;
  padding:0 10px;
  position: relative;
}
.hikes-slide .slider .item.slide {
    width: 100%;
    height: 100%;
    background: red;
    border-radius: 30px;
    margin-right: 30px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}
.hikes-slide .slider .item.slide .title {
  color: white;
  font-size: 30px;
  position: absolute;
  padding: 30px;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  z-index: 999;
}

.item .image {
  width: 100%;
  height: 100%;
}

.item .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.hikes-slide .slider .item.slide .image {
  position: relative;
}

.hikes-slide .slider .item.slide .image img {
  transition: width .4s, height .4s,object-position .4s;
}

.hikes-slide .slider .item.slide:hover .image img {
  height: calc(100% + 30px);
  width: calc(100% + 30px);
  object-position:calc(50% - 15px) calc(50% - 15px);
}

.hikes-slide .slider .item.slide .image::after {
  content: "";
  width: 100%;
  left: 0;
  height: 150px;
  position: absolute;
  bottom: 0;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.7));
  opacity: 1;
  transition: opacity .4s;
}

.hikes-slide .slider .item.slide:hover .image::after {
  opacity: .5;
}

.flex-container {
  display: flex;
}

.flex-container.wrap {
  flex-wrap: wrap;
}

.flex-container.j-center {
  justify-content: center;
}

.flex-container.j-sa {
  justify-content: space-around;
}

.flex-container.j-sb {
  justify-content: space-between;
}

.f-1 {
  flex: 1;
}

.f-2 {
  flex: 2;
}

.f-3 {
  flex: 3;
}

.f-4 {
  flex: 4;
}

.f-5 {
  flex: 5;
}

.f-6 {
  flex: 6;
}

.f-7 {
  flex: 7;
}

.hike-s-description {
  width: 100%;
  padding: 0 7%;
  margin-top: 90px;
  position: relative;
}

.hike-s-description .left {
  flex-basis: 630px;
}

.hike-s-description .right {
  padding: 30px 100px;
  flex-basis: calc(100% - 630px);
  font-size: 20px;
}

.hike-s-description .background-text {
  position: absolute;
  font-size: calc(6vw + 2em);
  font-weight: bold;
  opacity: 0.1;
  z-index: -1;
  text-align: center;
  width: 100%;
  top: -100px;
  left: 0;
}

.hike-s-description .left .selected-hike-image {
  width: 100%;
  height: 400px;
  background: #000;
  border-radius: 30px;
  overflow: hidden;
  position: relative;
}

.hike-s-description .left .selected-hike-image::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.3));
  width: 100%;
  height: 50%;
  z-index: 10;
}

.hike-s-description .left .selected-hike-image .title {
  position: absolute;
  bottom: 40px;
  left: 40px;
  color: white;
  font-size: 40px;
  text-transform: uppercase;
  z-index: 11;
  padding-right:40px;
}

.hike-s-description .left .selected-hike-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hikes-preview {
  width: 100%;
  padding: 0 7%;
  margin-top: 40px;
}

.hikes-preview .item {
  width: 300px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.hikes-preview .item .image {
  width: 300px;
  height: 300px;
  border-radius: 20px;
  overflow: hidden;
}

.hikes-preview .item .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hikes-preview .item .title {
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 10px;
}

.hikes-preview .item .rating {
  width: 50%;
  display: flex;
}

.our-experts {
  width: 100%;
  padding: 0 7%;
}

.our-experts .item {
  width: 90%;
  max-width: 700px;
  padding: 0 25px;
  margin-top: 20px;
}

.our-experts .item .image {
  width: 100%;
  height: 300px;
  background: #000;
  overflow: hidden;
  border-radius: 20px;
  border: 1px solid #777;
}

.our-experts .item .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.our-experts .item .name {
  font-size: 25px;
  font-weight: bold;
  text-transform: capitalize;
}

.our-experts .item .title {
  font-size: 18px;
  text-transform: capitalize;
  color: #666;
  margin-top: 5px;
}

.contact-us-button {
  font-size: 20px;
  border-radius: 30px;
}

/*Contact Start*/
.contact-cont {
  width: 100%;
  padding: 0 7%;
  padding-left: calc(7% + 50px);
  margin-top: 60px;
}
.contact-contb {
  width: 100%;
  padding: 0 7%;
  padding-left: calc(7% + 50px);
  margin-top: 20px;
  margin-bottom: 0px;
}
.contact-contb .contact-box{
  width: 100%;
  padding: 120px;
  display: flex;
  box-shadow: 0px 0px 25px 2px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  flex-wrap: wrap;
}

.contact-contb .contact-boxb{
  width: 100%;
  padding: 50px 350px;
  display: flex;
  box-shadow: 0px 0px 25px 2px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  flex-wrap: wrap;

}
.contact-cont .contact-box {
  width: 100%;
  padding: 50px;
  padding-left: 0;
  display: flex;
  box-shadow: 0px 0px 25px 2px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  flex-wrap: wrap;
}

.contact-cont .contact-box .contact-info {
  flex-grow: 2;
  padding: 20px;
  color: white;
  background:   #3DBC3D;
  border-radius: 5px;
  transform: translateX(-50px);
  box-shadow: 0px 0px 25px 2px rgba(0, 0, 0, 0.3);
}
.contact-cont .contact-box .contact-info h1 {
  font-size: 35px;
  text-transform: uppercase;
  font-weight: 600;
}
.contact-cont .contact-box .contact-form {
  flex-grow: 5;
  flex-basis: 500px;
  padding: 30px;
  width: 100%;
}
.contact-box input, .contact-box textarea {
  width: 100%;
  max-width: 600px;
  border-radius: 5px;
  border: 1px solid #e0e0e0;
  padding: 20px;
  font-size: 16px;
  font-family: 'productsans', sans-serif;
  font-weight: 400;
  margin: 5px 0;
  outline: none;
  box-shadow: 0px 0px 5px 1px rgba(200, 0, 0, 0);
  transition: box-shadow .4s;
  min-width: 600px;
  max-height: 300px;
}
.contact-boxb input, .contact-boxb textarea  {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #e0e0e0;
  padding: 20px;
  font-size: 16px;
  font-family: 'productsans', sans-serif;
  font-weight: 400;
  margin: 5px 0;
  outline: none;
  box-shadow: 0px 0px 5px 1px rgba(200, 0, 0, 0);
  transition: box-shadow .4s;
  min-width: 600px;
  max-height: 300px;
}

.contact-boxb select {
  width: 100%;
  border-radius: 5px;
  padding: 0px 20px;
  border: 1px solid #e0e0e0;
  font-size: 16px;
  font-family: 'productsans', sans-serif;
  font-weight: 400;
  margin: 5px 0;
  outline: none;
  box-shadow: 0px 0px 5px 1px rgba(200, 0, 0, 0);
  transition: box-shadow .4s;
  min-width: 600px;
  max-height: 300px;
}

.contact-box textarea:hover {
  box-shadow: 0px 0px 8px 1px rgba(0, 200, 0, 0.2);
}

.contact-box textarea:focus {
  box-shadow: 0px 0px 10px 1px rgba(0, 200, 0, 0.3);
}

.contact-box input[type="submit"] {
  width: inherit;
  min-width: inherit;
  padding: 9px 60px;
  margin-top: 15px;
  cursor: pointer;
}
.contact-boxb input[type="submit"] {
  width: inherit;
  min-width: inherit;
  padding: 9px 60px;
  margin-top: 15px;
  cursor: pointer;
}

.contact-cont .contact-box .contact-info h2 {
  font-size: 19px;
  font-weight: 600;
  margin-bottom: 15px;
  margin-top: 15px;
}
/*Contact End*/

.forms-footer{
  margin: 0 25px 15px 25px;
  padding: 15px 10px;
  display: inline-block;
  height: 120px;
  line-height: 30px;
  border: none;
  border-radius: 5px;
  background: rgba(1, 179, 1, 0.801);
  margin-right: 10px;
  font-size: 14px;
  
}
.forms-footeri{
  margin: 0 25px 15px 25px;
  padding: 15px 10px;
  display: inline-block;
  height: 120px;
  line-height: 30px;
  border: none;
  border-radius: 5px;
  background: rgba(156, 156, 156, 0.801);
  margin-right: 10px;
  font-size: 14px;
  
}
.forms-footerd{
  margin: 0 25px 15px 25px;
  padding: 15px 10px;
  height: 120px;
  line-height: 30px;
  border: none;
  border-radius: 5px;
  background: rgba(1, 179, 1, 0.801);
  margin-right: 10px;
  font-size: 14px;
  
}
.forms-footerid{
  margin: 0 25px 15px 25px;
  padding: 15px 10px;
  height: 120px;
  line-height: 30px;
  border: none;
  border-radius: 5px;
  background: rgba(156, 156, 156, 0.801);
  margin-right: 10px;
  font-size: 14px;
  
}
.s1class{
  color:#748194;
  position:absolute;
  bottom:0;
  left:63%;
  margin-left: -50%;
}
.s2class{
  color:#748194;
  position:absolute;
  bottom:0;
  right:63%;
  margin-right: -50%;
}

#signup .top-banner , #edit-profile .top-banner{
  height: 300px !important;
  margin-bottom: 50px;
}

#review .top-banner , #checkout .top-banner , #contact .top-banner , #faq .top-banner,.top-banner.small {
  height: 300px !important;
  margin-bottom: 50px;
}

#review .questions-container , #checkout .payment-container{
  width: 100%;
}

#review .questions , #checkout .payment-methods{
  background-color: white;
  height: 100%;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
  border-radius: 20px;
  padding: 10px 20px;
  box-sizing: border-box;
}

#review .questions h1 {
  text-align: center;
  margin-bottom: 30px;
}

#review .hike-image , #checkout .payment-desc{
  background-color: white;
  height: 300px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
  border-radius: 20px;
  margin-left: 50px;
  padding: 5px;
  box-sizing: border-box;
}

#review .hike-image img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  object-fit: cover;
}

#review .qr-review {
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

#review .qr-review .ques p {
  font-size: 18px;
}

#review .questions-container .star {
  width: 30px;
  height: 30px;
  background: url('../svg/Icon awesome-star.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 5px;
}

#review .hike-rev-props {
  margin-top: 30px;
  color: #868686;
  font-size: 20px;
}

#review .hike-rev-props i {
  font-size: 22px;
  margin-right: 10px;
  width: 20px;
  text-align: center;
}



.myTable {
  border-collapse: collapse; /* Collapse borders */
  width: 100%; /* Full-width */
  border: 1px solid #ddd; /* Add a grey border */
  font-size: 18px; /* Increase font-size */
}

.myTable th, .myTable td {
  text-align: left; /* Left-align text */
  padding: 12px; /* Add padding */
}

.myTable tr {
  /* Add a bottom border to all table rows */
  border-bottom: 1px solid #ddd;
}

.myTable tr.tableHead, .myTable tr:hover {
  /* Add a grey background color to the table tableHead and on hover */
  background-color: #f1f1f1;
  
}

.cTable {
  border-collapse: collapse; /* Collapse borders */
  width: 100%; /* Full-width */
  border: 1px solid #ddd; /* Add a grey border */
  font-size: 18px; /* Increase font-size */
}

.cTable th, .cTable td {
  text-align: center; /* Left-align text */
  padding: 12px; /* Add padding */
}

.cTable tr {
  /* Add a bottom border to all table rows */
  border-bottom: 1px solid #ddd;
  cursor: pointer;
}
.curButton{
  background-color: #34C234;
  color: #fff;
  margin: 0;
  padding: 12px;
  text-align: center;
  border: none;
}


.wrapper {
  margin: 0 auto;
  display: block;
  width: 960px;
}
.page-header {
  text-align: center;
  font-size: 1.5em;
  font-weight: normal;
  border-bottom: 1px solid #ddd;
  margin: 30px 0
}
.pagination {
  margin: 0;
  padding: 0;
  text-align: center
}
.pagination li {
  display: inline
}
.pagination li a {
  display: inline-block;
  text-decoration: none;
  padding: 5px 10px;
  color: #000
}
#wrapper {
  margin: 0 auto;
  padding: 15px;

  display: block;
  width: 960px;
}
.page-header {
  text-align: center;
  font-size: 1.5em;
  font-weight: normal;
  border-bottom: 1px solid #ddd;
  margin: 30px 0
}
#pagination {
  margin: 0;
  padding: 0;
  text-align: center
}
#pagination li {
  display: inline
}
#pagination li a {
  display: inline-block;
  text-decoration: none;
  padding: 5px 10px;
  color: #000
}

/* Active and Hoverable Pagination */
#pagination li a {
  border-radius: 5px;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s
    
}
#pagination li a.active {
  background-color: #34C234;
  color: #fff
}
#pagination li a:hover:not(.active) {
  background-color: #ddd;
} 

/* border-pagination */
.b-pagination-outer {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
  display: flex
}
#border-pagination {
  margin: 0 auto;
  padding: 0;
  text-align: center
}
#border-pagination li {
  display: inline;

}
#border-pagination li a {
  display: block;
  text-decoration: none;
  color: #000;
  padding: 5px 10px;
  border: 1px solid #ddd;
  float: left;

}
#border-pagination li a {
  -webkit-transition: background-color 0.4s;
  transition: background-color 0.4s
}
#border-pagination li a.active {
  background-color: #34C234;
  color: #fff;
}
#border-pagination li a:hover:not(.active) {
  background: #ddd;
}



.search-body {
  width: 100%;
  padding: 0 7%;
}

.search-body .item {
  width: 350px;
  background: #fff;
  border: 2px solid #e5e5e5;
  margin: 10px;
}

.search-body .item.extra {
  border: 0;
  height: 0;
}

.search-body .item .image {
  width: 100%;
  height: 200px;
  background: #000;
}

.search-body .item .content {
  padding: 20px 10px;
}

.search-body .item h1 {
  font-size: 20px;
  font-weight: bold;
}

.search-body .item .price {
  font-size: 18px;
  color: #555;
  font-weight: normal;
}


.search-body .item .rating .star {
  width: 15px;
  height: 15px;
  margin-right:2px;;
}

#review .review-comment {
  width: 100%;
  height: auto;
  border-radius: 20px;
  border: 2px solid rgba(1, 179, 1, 0.801);;
  outline: none;
  resize: vertical;
  min-height: 100px;
  padding: 15px;
  box-sizing: border-box;
  font-family: "ProductSans";
  font-size: 18px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
  margin-bottom: 20px;
}
.rating {
  display:flex;
  position: relative;
}

.rating .star {
  width: 20px;
  height: 20px;
  background: url('../svg/Icon awesome-star.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 5px;
  cursor: pointer;
}
.rating .star.nostar {
  background-image: url('../svg/rating-star-empty.svg') !important;
}

.rating.user-rating input{
  width:0;
  opacity: 0;
  position: absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  z-index: -1;
}
.rating.user-rating .star:hover {
  opacity: 0.8;
}
.rating.user-rating .star:hover ~ .star{
  opacity: 0.2;
}
.rating.user-rating .star:hover ~ .nostar{
  opacity: 1;
}

.rating .ratings_view_container{
  width:150px;
  height:auto;
  padding:20px;
  border-radius: 10px;
  position: absolute;
  bottom:100%;
  margin-bottom:10px;
  font-size:13px;
  left:0;
  box-shadow: 0 5px 6px 0 rgba(0,0,0,0.4);
  background-color: #fff;
}
.rating .ratings_view_container .rating_view::before{
  content:"(1) ";
  font-family: Arial;
  display: inline-block;
  padding:15px 30px;
  padding-left:0;
  background-image:url('../svg/Icon awesome-star.svg');
  background-size:20px;
  background-position:18px 12px;
  background-repeat: no-repeat;
}
.rating .ratings_view_container .rating_view::after{
  content:"";
  width:0;
  height:0;
  border-top:10px solid #fff;
  border-left:10px solid transparent;
  border-right:10px solid transparent;
  border-bottom:10px solid transparent;
  position: absolute;
  top:100%;
  left:20px;
}
.rating .ratings_view_container .rating_view:nth-of-type(2)::before{
  content:"(2)";
}
.rating .ratings_view_container .rating_view:nth-of-type(3)::before{
  content:"(3)";
}
.rating .ratings_view_container .rating_view:nth-of-type(4)::before{
  content:"(4)";
}
.rating .ratings_view_container .rating_view:nth-of-type(5)::before{
  content:"(5)";
}
.rating .ratings_view_container.show{
  display:block;
}
.hike-body .hike-details{
  width:100%;
  padding:20px 50px;
  border-radius: 20px;
  background-color: #fff;
  border:1px solid #444;
}

.hike-body #route, .hike-body #safety, .hike-body #howtobook, .hike-body #reviews {
  display: none;
}

.hike-body .right{
  padding:0 !important;
  padding-left:30px !important;
}
.hike-body .hike-details h1{
font-size:20px;
}
.hike-body .hike-details .hike-heading{
display:flex;
align-items:center;
}
.hike-body .hike-details .hike-heading .sep::after{
content:"·";
margin:0 10px;
color:#666;
}
.hike-body .hike-details p{
color:#888;
margin-top:20px;
}
.hike-body .book-container{
width:100%;
padding:50px 5%;
box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.1);
border-radius: 20px;
margin:50px 0;
background-color: #fff;
align-items: center;
height:130px;
position:relative;
}
.hike-body .book-container .xbutton{
position: absolute;
top:calc(100% - 10px);
right:100px;
outline: none;
}
.hike-body .book-container .price{
color:#3dbc3d;
font-size:40px;
font-weight: bold;
}
.hike-body .book-container .price::before{
content:"EGP";
font-size: 20px;
color:black;
margin-right:5px;
font-weight: normal;
}
.hike-body .book-container .price::after{
content:"/person/day";
font-size: 20px;
}
.hike-body .book-container input,.hike-body .book-container select{
padding:10px 15px;
border-radius: 14px;
font-size:17px;
outline:none;
border:1px solid #666;
width:300px;
margin:0 15px;
height:50px;
}
.hike-body .book-container .details table tr td:first-child{
font-weight: bold;
padding-right:10px;
}

hr {
  width: 80%;
  height: 1px;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  border: none;
  background-color: #7575754b;
}

.msg-sep {
  width: 100%;
  height: 1px;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  border: none;
  background-color: #b9b8b84b;
}

#checkout .payment-details {
  width: 80%;
  margin: 0 auto;
}

#checkout .payment-desc {
  height: 100%;
}

#checkout .pay-cod {
  width: 90%;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 20px;
  padding: 30px 10px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
  cursor: pointer;
  border: 1px solid transparent;
}

#checkout .pay-cod i , #checkout .pay-online i.icz{
  font-size: 34px;
  color: #3dbc3d99;
}

#checkout .payment-active {
  border: 1px solid #3dbc3d99 !important;
}

#checkout .pay-online {
  width: 90%;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 20px;
  padding: 30px 10px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
  cursor: pointer;
  border: 1px solid transparent;
}

.mr-20 {
  margin-right: 20px !important;
}

#checkout .card-entry {
  display: none;
  -webkit-transition: opacity 600ms, visibility 600ms;
  transition: opacity 600ms, visibility 600ms;
}
.hike-gallery {
  width: 100%;
  height: 600px;
}

.hike-gallery .image {
  width: 100%;
  height: 100%;
  margin-right: 20px;
  border-radius: 30px;
  background-color: #000;
  overflow: hidden;
}

.hike-gallery .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hike-gallery .gallery-images {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 33% 33% 33%;
  grid-gap: 10px;
}

.hike-gallery .gallery-images .item {
  height: 100%;
  width: 100%;
  background-color: #000;
  margin: 0 20px 20px 0;
  border-radius: 30px;
  overflow: hidden;
}

.hike-gallery .gallery-images .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hike-body .hikes-preview {
  padding: 0;
}

.map-container {
  margin: 0 auto;
  width: 70%;
  border-radius: 20px;
  border: 1px solid #999;
  overflow: hidden;
}

/*Cart Start*/
.cart-body .cart-container {
      width: 100%;
    padding: 50px 5%;
    box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.1);
    border-radius: 20px;
    margin: 10px 0;
    background-color: #fff;
    align-items: center;
    position: relative;
}
.cart-body .right .cart-container {
  display: flex;
  padding: 20px 5%;

}


.cart-body .cart-container .xbutton{

top:calc(100% - 10px);

}
.cart-body .cart-container .xbutton .sbutton{
color:#000000;
top:calc(100% - 10px);

}
.cart-body .cart-container .total{
  text-align: center;
color:#3dbc3d;
font-size:40px;
font-weight: bold;
}
.cart-body .cart-container .total::before{
content:"Total";
font-size: 20px;
color:black;
margin-right:5px;
font-weight: normal;
}
.cart-body .cart-container .total::after{
content:" £ EGP";
font-size: 20px;
}
.cart-body .cart-container input,.cart-body .cart-container select{
padding:10px 15px;
border-radius: 14px;
font-size:17px;
outline:none;
border:1px solid #666;
width:300px;
margin:0 15px;
height:50px;
}
.cart-body .cart-container .details table tr td:first-child{
font-weight: bold;
padding-right:10px;
}
.cart-body{
  width: 100%;
  padding: 0 7%;
  margin-top: 90px;
  position: relative;
}
.cart-body .left {
  flex-basis: 630px;}

.cart-body .right {
  padding: 0 20px ;
  flex-basis: calc(100% - 630px);
  font-size: 20px;
}
.sbutton {
  background: #606060;
  padding: 10px 40px;
  display: table;
  color: white;
  box-shadow: 0 7px 7px 0 #606060 !important;
  border-radius: 30px !important;
  cursor: pointer;
  border:2px solid transparent !important;
}
.cart-body .cartimg {
  width: 150px;
  height: 100px;
  background: #000;
  border-radius: 23px;
  overflow: hidden;
  position: relative;
}
.cart-body .cartimg img{
  width: 100%;
  height: 100%;
  object-fit: 100%;
}
.cart-body  .rating {
  margin-left: 10px;
  display: flex;
}
.cart-body .cart-container .split::before{
content:"-  ";
font-size: 20px;
margin-right: 20px;
}
.cart-body .cart-container .cart-details-text1{
font-size: 16px;
color: #000;
}
.cart-body .cart-container .fl-1{
  flex: 1;
}

.cart-body .cart-container .cart-details-text2{
font-size: 16px;
color: #7F7F7F;
}
.cart-body .cart-container .cart-details-text3{
font-size: 16px;
color: #3DBC41;
}

.cart-body  .title {
  margin-left:  10px;
  display: flex;
}
.cart-body .cart-container  .rating-number::after {
  color: #7F7F7F;
  margin-right: 10px;

  content:" ratings";
  font-size: 15px;
}
/*Cart Start*/
/*Terms Start*/
.terms-body .terms-container {
    width: 100%;
    padding: 50px 10%;
    box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.1);
    border-radius: 20px;
    margin: 10px 0;
    background-color: #fff;
    align-items: center;
    position: relative;
}
.terms-body .right .terms-container {
  display: flex;
  padding: 20px 5%;

}


.terms-body .terms-container .xbutton{

top:calc(100% - 10px);

}
.terms-body .terms-container .xbutton .sbutton{
color:#000000;
top:calc(100% - 10px);

}
.terms-body .terms-container .total{
  text-align: center;
color:#3dbc3d;
font-size:40px;
font-weight: bold;
}
.terms-body .terms-container .total::before{
content:"Total";
font-size: 20px;
color:black;
margin-right:5px;
font-weight: normal;
}
.terms-body .terms-container .total::after{
content:" £ EGP";
font-size: 20px;
}
.terms-body .terms-container input,.terms-body .terms-container select{
padding:10px 15px;
border-radius: 14px;
font-size:17px;
outline:none;
border:1px solid #666;
width:300px;
margin:0 15px;
height:50px;
}
.terms-body .terms-container .details table tr td:first-child{
font-weight: bold;
padding-right:10px;
}
.terms-body{
  width: 100%;
  padding: 0 7%;
  position: relative;
}


 .terms-container .t-item{
    background: #3dbc3d;
    text-align: left;
    margin: 5px;
    box-sizing: border-box;
    padding: 10px 70px;
    color: white;
    box-shadow: 0 7px 7px 0 #3dbc3d99 !important;
    border-radius: 30px !important;
    cursor: pointer;
    border:2px solid transparent !important;
}

/*Terms End*/
.edit-profile{
  padding:15px;
  background-color: white;
  margin: 0 10px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
  border-radius: 25px;
  position: relative;
  height: 100%;
  margin-right: 50px;
}

#edit-profile .edit-profile p{
  font-weight: bold;
  font-size: 22px;
  cursor: pointer;
}

#edit-profile .edit-profile p.backToProfile{
color: #3dbc3d !important;
}

/*Blogger Start*/

.blogger-inner-body .blogger-inner-container {
  width: 100%;
  padding: 0% 10% 2% 10%;
  box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.1);
  border-radius: 20px;
  margin: 10px 0;
  background-color: #fff;
  align-items: center;
  position: relative;
}
.blogger-inner-body .right .blogger-inner-container {
display: flex;
padding: 20px 5%;

}


.blogger-inner-body .blogger-inner-container .xbutton{

top:calc(100% - 10px);

}
.blogger-inner-body .blogger-inner-container .xbutton .sbutton{
color:#000000;
top:calc(100% - 10px);

}
.blogger-inner-body .blogger-inner-container .total{
text-align: center;
color:#3dbc3d;
font-size:40px;
font-weight: bold;
}
.blogger-inner-body .blogger-inner-container .total::before{
content:"Total";
font-size: 20px;
color:black;
margin-right:5px;
font-weight: normal;
}
.blogger-inner-body .blogger-inner-container .total::after{
content:" £ EGP";
font-size: 20px;
}
.blogger-inner-body .blogger-inner-container input,.blogger-inner-body .blogger-inner-container select{
padding:10px 15px;
border-radius: 14px;
font-size:17px;
outline:none;
border:1px solid #666;
width:300px;
margin:0 15px;
height:50px;
}
.blogger-inner-body .blogger-inner-container .details table tr td:first-child{
font-weight: bold;
padding-right:10px;
}
.blogger-inner-body{
width: 100%;
padding: 0 7%;
position: relative;
}


.blogger-inner-container .t-item{
  background: #3dbc3d;
  text-align: left;
  margin: 5px;
  box-sizing: border-box;
  padding: 10px 70px;
  color: white;
  box-shadow: 0 7px 7px 0 #3dbc3d99 !important;
  border-radius: 30px !important;
  cursor: pointer;
  border:2px solid transparent !important;
}

#blogPageContainer{
  display: flex;
  flex-wrap: wrap;
  /* margin:25px; */
  padding: 10px 140px;
  flex-direction:column;
}

#blogPageContainer #blog-flex1{
  width:100%;
  display: flex;
  flex-direction:row;

}

#blogPageContainer #blog-flex2{
  width:100%;
  display: flex;
  flex-direction:row;

}
.Blog-Containerp{
  padding: 0px 20px 0px 20px;
  text-align: justify;
  color:rgb(109, 109, 109)
}
.Blog-Container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  margin:10px;
  padding:0 10px;
  height:450px;
  /* box-shadow: 0 5px 5px 0 #0000002c !important; */
  border: #707070;
  border-style: solid;
  border-width: 1px;
  
}



.blogbutton{
  width: 337px;
  font-size:16px;
  background: #3dbc3d;
  padding: 10px 40px;
  display: table;
  color: white;
  /* box-shadow: 0 5px 5px 0 #3dbc3d99 !important; */
  cursor: pointer;
  border:2px solid transparent !important;
  outline: none;
  font-weight: bold;
}

.blogbutton:hover{
  width: 337px;
  font-size:16px;
  background: #2a992a;
  padding: 10px 40px;
  display: table;
  color: white;
  /* box-shadow: 0 5px 5px 0 #3dbc3d99 !important; */
  cursor: pointer;
  border:2px solid transparent !important;
  outline: none;
  font-weight: bold;
}
.blog-image{
  position: relative;
}
.blog-image img{
  width:100%;
  height:100%;
 
  padding: 25px 25px 10px 25px;
  object-fit: cover;
  object-position: 50% 50%;
}

.gradient-overlay-blog{
content: '';
background-image: linear-gradient(to bottom , rgba(255, 255, 255, 0), rgb(0, 0, 0));
opacity: 0.5;
}

.gradient-overlay-blog img::after{
  content: '';
  position: absolute;
  top:0;
  bottom:0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom right, blue, red);
  opacity: 0.5;
  }

.blog-image-inner{
  display: block;
  
}

.blog-image h2{
  position: absolute;display: block; word-break: break-all;width: 80%;text-align: center;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%); color:white;
    text-shadow: 0 0 3px #000000, 0 0 5px #00ff4010;


}
.blog-details {
  border-top: 1px solid rgb(117, 117, 117);
}

.blog-details li{
  color:#686868;
  display: inline-block;
  margin: 0 6px;
  font-size: 14px;
}
#desired_element { z-index: 99 !important; }

#blogInnerPageContainer{
  display: flex;
  flex-wrap: wrap;
  margin:25px;
  padding:20px;
  flex-direction:column;
}

#blogInnerPageContainer #blog-flex1{
  width:100%;
  display: flex;
  flex-direction:row;
}


.blog-inner-image img{
  object-fit: cover;
  object-position: 50% 50%;
  padding:50px;
  justify-content: center;
  margin:0;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  height: 300px;

}

#blog-text-container{
  width: auto;
  text-align: center;
  object-position: 50% 50%;
}
#blog-teka-id{
  margin:20px;
}

/*Blogger End*/


#faq .faq-container {
  margin-top: 30px;
  width: 90%;
  margin: 0 auto;
  background-color: white;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
  border-radius: 20px;
  padding: 20px;
}

#faq .faq-container i {
  color: #3dbc3d;
}

#faq .faq_question {
  margin: 0px;
  padding: 20px 10px;
  border-radius: 20px;
  display: inline-block;
  cursor: pointer;
  font-weight: bold;
  width: 100%;
  font-size: 26px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
}

#faq .faq_answer_container {
  height: 0px;
  overflow: hidden;
  padding: 0px;
  font-weight: normal;
  font-size: 20px;
}

.fileBtn {
  height: 0;
  overflow: hidden;
  width: 0;
}

.fileBtn + .labelBtn {
  background: #f15d22;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: inherit;
  font-weight: 500;
  margin-bottom: 1rem;
  outline: none;
  padding: 1rem 50px;
  position: relative;
  transition: all 0.3s;
  vertical-align: middle;
}
.fileBtn + .labelBtn:hover {
  background-color: #d3460d;
}

.fileBtn + .labelBtn {
  background-color: #3dbc3d;
  border-radius: 50px;
  overflow: hidden;
}
.fileBtn + .labelBtn::before {
  color: #fff;
  content: "\f382";
  font-family: "Font Awesome 5 Free";
  font-size: 100%;
  height: 100%;
  right: 100%;
  line-height: 3.3;
  position: absolute;
  top: 0px;
  transition: all 0.3s;
  font-weight: bold;
}
.fileBtn + .labelBtn:hover {
  background-color: #497f42;
}
.fileBtn + .labelBtn:hover::before {
  right: 90%;
}

.error-input-val{
  color:red;
}

/* Profile START */
.profile-body{
  width:calc(100% - 10%);
  margin:0 auto;
  padding: 20px 2%;
  min-height: 200px;
  background-color: #fff;
  margin-top:50px;
  border-radius:20px;
  box-shadow: 0 3px 6px 0 rgba(0,0,0,0.2);
  display: flex;
  flex-wrap: nowrap;
}
.profile-body .user-details-container{
  width:350px;
}
.profile-body .user-info{
  width:calc(100% - 350px);
}
.profile-body .user-details-container .user-image{
  width:180px;
  height:180px;
  border-radius:50%;
  background-color: #000;
  border:1px solid #000;
  margin:0 auto;
  overflow: hidden;
}
.profile-body .user-details-container .user-image img{
  width:100%;
  height:100%;
  object-fit: cover;
  object-position: 50% 50%;
}

.profile-body .user-details-container .user-details{
  display: table;
  margin:0 auto;
}
.profile-body .user-details-container .user-details p{
  margin-bottom:10px;
  margin-top:10px;
  font-size:18px;
  color:#888;
  display: table;
}
.user-info{
  padding-top:60px;
}
.user-info .heading{
  font-size:30px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom:20px;
}
.user-info .about{
  border:1px solid #000;
  padding:30px;
  padding-top:60px;
  position: relative;
  border-radius: 20px;
  font-size:20px;
  margin-bottom:20px;
  color:#888;

}
.user-info .about::before{
  content:"About Me";
  position: absolute;
  top:20px;
  left:30px;
  color:#000;
  font-weight: bold;;
}
.user-info .hikes-preview{
  padding:0;
}
/* Profile END */
.single-review i{
  color: #666;
  font-size: 16px;
}

.hike-details#reviews {
  max-height: 400px;
  overflow-y: auto;

}
.error-input-val{
  color:red;
}



.messages-content{
  width: 70%;
  padding: 10px;
  box-shadow: 0px 0px 25px 2px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin: 0 auto;
  background-color: white;
}

.message-box {
  width: 100%;
}

.message-box h1 {
  width: 100%;
  text-align: center;
  margin: 20px 0;
}

.message-sender {
  align-items: center;
}

.message-sender .sender-image {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 15px;
}

.message-sender .sender-info p{
  font-weight: bold;
}

.message-sender .sender-info i{
  color: #666;
}

.message-sender .sender-image img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.whole-messages {
  width: 90%;
  margin: 0 auto;
}

.single-message {
  margin-bottom: 20px;
}

.messages-textarea {
  width: 100%;
  height: auto;
  border-radius: 20px;
  border: 1px solid rgba(1, 179, 1, 0.801);
  outline: none;
  resize: vertical;
  min-height: 100px;
  max-height: 300px;
  padding: 15px;
  box-sizing: border-box;
  font-family: "ProductSans";
  font-size: 18px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
  margin-bottom: 20px;
}

.message-send {
  width: 90%;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;
}

.message-send .xbutton{
  margin: 0 auto;
}

/*Survey START*/

.survey-body .survey-container {
  width: 100%;
  padding: 50px 10%;
  box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.1);
  border-radius: 20px;
  margin: 10px 0;
  background-color: #fff;
  align-items: center;
  position: relative;
}
.survey-body .right .survey-container {
display: flex;
/* padding: 0px 5%; */
}


.survey-body .survey-container .survey-question-buttons-container{
  display: flex;
  justify-content: center;
}


.survey-button{
  width: 100%;
  font-size:16px;
  background: #3dbc3d;
  padding: 15px 40px;
  display: table;
  color: white;
  cursor: pointer;
  border:2px solid transparent !important;
  outline: none;
  font-weight: bold;
}

.survey-button:hover,
.survey-button:focus
{
  width: 100%;
  font-size:16px;
  background: #2a992a;
  padding: 0px 40px;
  display: table;
  color: white;
  cursor: pointer;
  border:2px solid transparent !important;
  outline: none;
  font-weight: bold;
}

.survey-body .survey-container .survey-question-container{
  display: flex;
  justify-content: center;
  padding:30px;
  flex-direction: column;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);

}
.question-numbering-grey-shaded{
  color:darkgrey;
  float: left;
  margin-top: 20px;
}

.question-itself-survey{
  margin-top:10px;
  color:black;
  float: left;
  margin: 20px;
}

.answers-of-the-survey-questions{
  color:black;
  float: left;
  margin-top: 20px;
}
.answers-of-the-survey-questions .answers{
  width:100%;
  height:100px;
  margin:10px;
  position: relative;
}
.answers-of-the-survey-questions .answers input[type='radio']{
  width:100%;
  height:100%;
  opacity: 0;
  position: absolute;
  top:0;
  left:0;
  z-index: 99;
  cursor: pointer;
}
.answers-of-the-survey-questions .answers label{
  width:100%;
  height:100%;
  position: absolute;
  top:0;
  left:0;
  background-color: #fff;
  padding:20px;
  padding-left:50px;
  display:flex;
  align-items: center;
}
.answers-of-the-survey-questions .answers label::before{
  content:"";
  width:10px;
  height:10px;
  left:20px;
  border-radius: 50%;
  box-shadow: 0px 0px 0px 3px #2a992a;
  border:3px solid white;
  position:absolute;
}
.answers-of-the-survey-questions .answers input[type='radio']:not(old):checked ~ label{
  border:4px solid #2a992a;
}
.answers-of-the-survey-questions .answers input[type='radio']:not(old):checked ~ label::before{
  background-color: #2a992a;
}

/*Survey END*/
